NEXT_PUBLIC_API_URL=https://datika-eight.vercel.app/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
NEXT_PUBLIC_APP_NAME=Datika
NEXT_PUBLIC_APP_URL=http://localhost:3000
